.svg-border {
  pointer-events: none;
  stroke: #000;
  fill: none;
  shape-rendering: crispEdges;
  vector-effect: non-scaling-stroke;
}

g.axis {
  pointer-events: none;

  line {
    fill: none;
    stroke: #444;
    shape-rendering: crispEdges;
    vector-effect: non-scaling-stroke;
  }
}
